@model IEnumerable<TagModel>


<ul class="tagList">
    @foreach (var tag in Model)
    {
        <li class="tagListItem"><a href="@Url.Action("getPosts", "BlogPost", new { tag = tag.Name })">@tag.Name</a></li>
    }
</ul>
