@model IEnumerable<BlogPostModel>

@{
    ViewData["Title"] = "Index";
}

@inject IAuthorizationService Authorization
@{
    var canEdit = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Edit)).Succeeded;
    var canDelete = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Delete)).Succeeded;
    var canAdd = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Add)).Succeeded;
}



<h1>Index</h1>
@if (@canAdd)
{
    <p style="font-size: 18px;">
        <a asp-action="Create">Create New Post</a>
    </p>
}

