/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
div.text-center{
    font-weight: 800;
    padding-top: 10%;
}
.table th{
    border-top: 0px solid;
}
.table thead th{
    border-bottom: 0px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #8d9093;
    color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
a {
    
    color: #b8cbf2;
}
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 100%;
    max-width: 100%;
}
.formBody{
    height: 30vh;
}

h1 {
    text-align: center;
}
.blogTitle {
    text-align: center;
}
.blogTitle h4 {
    text-align: center;
    font-size: medium;
}

.blogRow:hover{
    color: black;
}